
main {
  display: flex;
  justify-content: center;
}

.grid {
  height: 600px;
  width: 600px;
  background-color: #8EB367;
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  flex-grow: 1;
  // border: 1px solid black;
}

.snake {
  background-color: red;
}

.food {
  background-color: yellow;
  border-radius: 100%;
}